@import '../style-variables.less';

.wbmad-image-with-suggestions {
  border: 0.05em solid lightGray;
  background-color: #f6f6f6;
  margin-bottom: 2em;
  border-radius: 0.2em;
  .wbmad-button-close {
    float: right;
    margin-right: 0em;
  }
  .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover {
    background-color: transparent;
  }
  .wbmad-image-with-suggestions-flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    .wbmad-image-with-suggestions-flex-left {
      margin: 0.5em;
      img {
        border: 0.05em solid lightGray;
        background-color: lightGray;
        width: 20em;
      }
      label {
        display: block;
      }
    }
    .wbmad-image-with-suggestions-flex-right {
      flex: 1;
      margin: 0.5em;
    }
  }
}
