@import '../style-variables.less';

.wbmad-image-with-suggestions {
  border: 1px solid lightGray;
  background-color: #f6f6f6;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 4px;
  img {
    margin-bottom: 10px;
    border: 1px dashed lightGray;
    padding: 10px;
  }
  .wbmad-suggestions {
    .wbmad-suggestion {
      background-color: @color-suggestion-background;
    }
  }
  .wbmad-suggestions-confirmed {
    .wbmad-suggestion-confirmed {
      background-color: @color-suggestion-background-confirmed;
    }
  }
  .wbmad-suggestions-rejected {
    .wbmad-suggestion-rejected {
      background-color: @color-suggestion-background-rejected;
    }
  }
  .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover {
    background-color: transparent;
  }
  .wbmad-button-save {
    margin-right: 20px;
  }
  .wbmad-button-confirm-all {
    .oo-ui-buttonElement-button, .oo-ui-buttonElement-button:hover {
      background-color: @color-suggestion-background-confirmed;
    }
  }
  .wbmad-button-reject-all {
    .oo-ui-buttonElement-button, .oo-ui-buttonElement-button:hover {
      background-color: @color-suggestion-background-rejected;
    }
  }
  .wbmad-button-reset {
    .oo-ui-buttonElement-button, .oo-ui-buttonElement-button:hover {
      background-color: @color-suggestion-background;
    }
  }
}
