@import '../style-variables.less';

.wbmad-rejected-suggestion {
  background-color: @red90;
  border-color: @red50;
  padding-left: 1.3em;
  .oo-ui-buttonWidget {
    border-left: 1px solid transparent;
    margin-left: 0;
  }
}
