@import '../style-variables.less';

.wbmad-confirmed-suggestion {
  background-color: @green90;
  border-color: @green50;
  .oo-ui-buttonWidget {
    .oo-ui-buttonElement-button {
      margin-left: -0.7em;
      margin-right: 0.7em;
    }
  }
}
