@import '../style-variables.less';

.wbmad-suggestion-confirmed {
  background-color: @green90;
  border-color: @green50;
  padding-right: 1.5em;
  padding-left: 1.4em;
  .oo-ui-buttonWidget {
    margin-right: 0.5em;
  }
}
