.wbmad-suggestion-base {
	display: inline-block;
	border: 1px solid gray;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 4px;
	margin: 4px;
	white-space: nowrap;
	.oo-ui-buttonWidget {
		margin-right: 0px;
	}
}
