@import '../style-variables.less';

.wbmad-suggestion-rejected {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  background-color: @color-suggestion-background-rejected;
}
