@import '../style-variables.less';

.wbmad-suggestion-rejected {
  background-color: @red90;
  border-color: @red50;
  padding-left: 1.3em;
  padding-right: 1.3em;
  height: 2.286em;
  label {
    line-height: 2.4em;
  }
}
